<div class="card">
  {%- if card.image %}
  <div class="card-image">
    <figure class="image is-1by1">
      <img src="{{ card.image | replace: '/img/', '/img/card/' }}" alt="...">
    </figure>
  </div>
  {%- endif %}
  <div class="card-content members bounce-hover">
    <p class="subtitle is-6">{{ card.member_status }}</p>
    <p class="title is-4">{{ card.handle }}</p>
  </div>
</div>
