
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/music-player.png" alt="...">
              </figure>
            </div>
            <div class="card-content aligned-vertically bounce-hover">
              <div class="content">
                <p class="subtitle">{{ card.type }} / {{ card.platform }}</p>
                <p class="title">{{ card.title }}</p>
                {%- if card.description %}<p class="">{{ card.description }}</p>{%- endif %}
              </div>
            </div>
          </div>