<div class="filter-item">
  <span class="filter-item-icon">{%- include "icons/sort.svg" %}</span>
  <div class="select is-small is-rounded is-primary">
    <select aria-label="Sort members" id="SortSelect">
      <option value="handle">A–Z</option>
      <option value="status">Status</option>
    </select>
  </div>
</div>
