<div id="modal-overlay" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="container">
      <div class="box">
        <div class="is-full">
          <div>
            <figure class="image is-16by9">
              <iframe
              id="modal-video"
              class="has-ratio"
              width="100%"
              height="auto"
              src=""
              frameborder="0"
              allowfullscreen
              ></iframe>
            </figure>
            <figure class="image">
              <img
              id="modal-image"
              class="has-ratio"
              width="100%"
              height="auto"
              src=""
              frameborder="0"
              allowfullscreen
              ></img>
            </figure>
          </div>
        </div>
        <div class="content is-full px-5 pt-3">
          <p id="modal-description"></p>
          <p id="modal-credits"></p>
        </div>
        <div class="columns is-gapless is-mobile pb-5">
          <div class="column is-flex is-justify-content-center is-align-items-center">
            <button class="button is-outlined is-rounded mx-3">YouTube</button>
            <button class="button is-outlined is-rounded mx-3">Demozoo</button>
            <button class="button is-outlined is-rounded mx-3">Pouet</button>
            <button class="button is-outlined is-rounded mx-3">Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>