    <footer id="footer" class="container-fluid py-5">
      <div class="columns is-vcentered">
        <div class="column has-text-centered-tablet has-text-right-desktop">
          <div class="column is-flex is-align-items-center is-justify-content-flex-start">
            <div class="icons is-flex">
              <a href="https://www.instagram.com/_trsi_/" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on Instagram">
                {%- include "icons/instagram.svg" %}
              </a>
              <a href="https://www.facebook.com/tristarandredsector/" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on Facebook">
                {%- include "icons/facebook.svg" %}
              </a>
              <a href="https://x.com/trsi" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on X">
                {%- include "icons/x.svg" %}
              </a>
              <a href="https://www.youtube.com/@trsi" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on X">
                {%- include "icons/youtube.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="column has-text-centered has-text-centered-mobile">
          <p class="is-size-4 has-text-weight-medium">The Sleeping Gods in 2025</p>
        </div>
        <div class="column has">
        </div>
      </div>
    </footer>