    <footer id="footer-section" class="container-fluid py-5">
      <div class="columns is-vcentered">
        <div class="column has-text-centered has-text-centered-mobile">
          <h2 class="is-size-4 has-text-weight-medium">The Sleeping Gods in 2025</h2>
        </div>
      </div>
    </footer>