    <header class="section py-0">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-size-3 is-size-4-touch{% if page.fileSlug == "" %} active{% endif %}" href="/">Back to the...Roots</a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start has-text-centered">
          {%- for item in nav.nav_items %}
            {%- assign item_slug = item.title | downcase %}
            <a href="{{ item.url }}" class="navbar-item is-size-3 is-size-4-touch{% if page.fileSlug == item_slug %} active{% endif %}{% if item.hidden == true %} hide{% endif %}">{{ item.title }}</a>
          {%- endfor %}
            <div class="navbar-social">
              <div class="columns is-vcentered pt-5">
                <div class="column">
                  <div class="icons is-flex is-justify-content-center is-justify-content-right-desktop">
                    <a href="https://www.instagram.com/_trsi_/" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on Instagram">
                      {%- include "icons/instagram.svg" %}
                    </a>
                    <a href="https://www.facebook.com/tristarandredsector/" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on Facebook">
                      {%- include "icons/facebook.svg" %}
                    </a>
                    <a href="https://x.com/trsi" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on X">
                      {%- include "icons/x.svg" %}
                    </a>
                    <a href="https://www.youtube.com/@trsi" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on X">
                      {%- include "icons/youtube.svg" %}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>