body {
  /* font-family:-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Ubuntu,Fira Sans,Roboto,Avenir Next,Helvetica Neue,Helvetica,Arial,sans-serif; */
  /* font-size: xx-large; */

  /* colors */
  --background-color: rgb(51, 51, 51);
  --light-color: #efd202;
  --dark-color: #000000;
  --text-color: #eeeeee;
  --link-color: #eeee88;
  --link-hover-color: #a7155a;
  --overlay-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 1) 100%);

  /* card overlay */
  --lift-height: 100%;
  
  /* bulma overloads */
  --bulma-scheme-main: var(--background-color);
  --bulma-navbar-background-color: var(--background-color);
  --bulma-navbar-item-color: var(--text-color);
  --bulma-card-color: var(--text-color);
  --bulma-subtitle-color: var(--light-color);
  --bulma-link-text: var(--light-color);
  --bulma-title-color: var(--text-color);
  --bulma-text-strong: var(--text-color);
  --bulma-card-radius: 0px;
  --bulma-body-font-size: 1.0rem;
  .content {
    --bulma-content-heading-weight: 400;
    --bulma-content-heading-color: var(--text-color);
  }
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:  var(--background-color);
  color: var(--text-color);
}

.site-container {
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.navbar a,
.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover,
.content h1 a:hover,
.content h2 a:hover {
  text-decoration: underline;
}

.title, .subtitle, .card  {
  color: var(--text-color);
}

/* Navbar */
.navbar-burger {
  align-items: flex-end;
  width: 0.5rem;
}

.navbar-item, .navbar-link  {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  padding-left: 0rem;
}

a.navbar-item, .navbar-link  {
  background-color: var(--background-color);
  color: var(--text-color);
}

.section.headline {
  padding-bottom: 0px;
  padding-top: 0px;
}

/* Footer */
footer {
  background-color:  var(--background-color);
  color: var(--text-color);
}

.footer-content.ul {
  display: flex;
  justify-content: left;
  align-items: left;
}

.icon svg {
  font-size: 1.5rem; 
  fill: var(--text-color);
}

/* Card */
.card {
  border-radius: 0px;
  overflow: hidden;
  background-color: var(--dark-color);
  cursor: pointer;
}

.card:hover .bounce-hover {
  transform: translateY(calc(var(--lift-height) * -1));
  transition: transform var(--in-speed) cubic-bezier(0.2, 1, 0.3, 1);
}

.card-content.aligned-vertically {
  display: flex;
  flex-direction: column;
}

.card-content.aligned-vertically .content {
  margin-top: auto;
  margin-bottom: auto;
}

.card-image:first-child img {
  object-fit: contain;
  border-radius: 0px;
}

.card-content, .card-content:last-child  {
  position: absolute;
  background: var(--overlay-color);
  width: 100%;
  height: 100%;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-radius: 0px;
  --in-speed: 0.3s;
  --out-speed: 0.7s;
  transition: transform var(--out-speed) cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content.members, .card-content:last-child.members {
  position: absolute;
  top: 75%;
  background: var(--overlay-color);
  width: 100%;
  height: 250px;
  border-radius: 0px;
}

.card-description {
  margin-bottom: var(--bulma-block-spacing);
}

/* Box */
.box {
  --bulma-box-radius: 0px;
  --bulma-box-padding: 0px;
}

/* TRSI logo */
.image img.logo {
  width: 800px;
}

/* Filters */
.select select {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--link-color);
  font-family: 'Edit Undo Brk', monospace;
}

.select select:hover {
  background-color: var(--background-color);
  border-color: var(--link-color);
}

.select select:focus {
  outline: none;
  border-color: var(--link-color);
}

.content h1, .content h2, .content h3, .title, .subtitle, .card  {
  color: var(--text-color);
}

/* Modal */
.modal.is-active .modal-background {
  backdrop-filter: blur(8px);
}

.modal-content {
  overflow: hidden;
}

.modal-content p {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Footer */
.footer-content.ul {
  display: flex;
  justify-content: left;
  align-items: left;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: var(--text-color);
}

/* Filter */
.filter-wrapper {
  margin-bottom: 15px;
}

.scale:hover {
  transform: scale(1.05);
  transition: all 300ms;
}
