body {
  /* colors */
  --background-color: rgb(51 51 51);
  --section-color1: rgb(51 85 85);
  --section-color2: rgb(68 68 68);
  --text-color: #eeeeee;
  --light-color: #efd202;
  --dark-color: #000000;
  --link-color: #eeee88;
  --link-hover-color: #a7155a;
  --overlay-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 1) 100%);

  /* fonts */
  --heading-font-family: 'Edit Undo Brk';  
  --body-font-family: 'Edit Undo Brk';

/* card overlay */
  --lift-height: 100%;
  
  /* bulma overloads */
  --bulma-scheme-main: var(--background-color);
  --bulma-navbar-background-color: var(--background-color);
  --bulma-navbar-item-color: var(--text-color);
  --bulma-card-color: var(--text-color);
  --bulma-subtitle-color: var(--light-color);
  --bulma-link-text: var(--light-color);
  --bulma-title-color: var(--text-color);
  --bulma-text-strong: var(--text-color);
  --bulma-card-radius: 0px;
  --bulma-body-font-size: 1.0rem;
  .content {
    --bulma-content-heading-weight: 400;
    --bulma-content-heading-color: var(--text-color);
  }
}

div.logo {
  width: 640px;
  height: 320px;
  background-image: url('/img/trsi-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
