---
layout: layouts/base.liquid
title: TRSI
---
    <!-- Top section -->
    <section class="section is-size-5">
      <div class="content">
        <div class="has-text-centered mb-5">
          <figure class="image is-inline-block">
            <img src="/img/trsi-logo.png" alt="TRSI logo" class="logo" />
          </figure>
        </div>
        <div class="mb-5">
          <div class="mb-5">Tristar & Red Sector inc. is a demo group founded in 1990. We bring demos, intros, and music to life, for platforms ranging from the Amiga and Commodore 64 to modern PCs.</div>
          <div class="">There is a decent overview of our history on Demozoo: <a href="https://demozoo.org/groups/69/">TRSI on demozoo.org</a></div>
          <div class="mb-5">The most complete selection of all our productions are well documented on Pouet: <a href="https://www.pouet.net/groups.php?which=280&order=views">TRSI on pouët.net</a></div>
          <div class="mb-3">Join us on the journey and follow our social media channels!</div>
            <div class="icons is-flex">
              <a href="https://www.instagram.com/_trsi_/" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on Instagram">
                {%- include "icons/instagram.svg" %}
              </a>
              <a href="https://www.facebook.com/tristarandredsector/" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on Facebook">
                {%- include "icons/facebook.svg" %}
              </a>
              <a href="https://x.com/trsi" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on X">
                {%- include "icons/x.svg" %}
              </a>
              <a href="https://www.youtube.com/@trsi" target="_blank" class="icon mr-4" aria-label="Connect with TRSI on X">
                {%- include "icons/youtube.svg" %}
              </a>
            </div>

        </div>
      </div>
    </section>
