---
pagination:
  data: cms
  size: 100

layout: base.liquid
title: TRSI - Graphics
---
    <!-- Top section -->
    <section class="content is-size-5">
      <div class="container">
        <h1>Graphics</h1>
      </div>
    </section>

    <section class="section">
      <div class="filter-wrapper">
      {% render "feed-filter.liquid", feed: cms.graphics, type: "Platform" %}
      {% render "feed-filter.liquid", feed: cms.graphics, type: "Type" %}
      </div>
      <div id="feed-wrapper">
        {% render "feed.liquid", feed: cms.graphics, type: "graphics" %}
      </div>
    </section>
