---
pagination:
  data: cms
  size: 100

layout: layouts/base.liquid
title: TRSI - Graphics
tags: page
---
    <section class="section">
      <div>
        <h1 class="title">Graphics</h1>
      </div>
      <div class="filter-wrapper">
        {%- render "components/feed-filter.liquid", feed: cms.graphics, type: "Platform" %}
        {%- render "components/feed-filter.liquid", feed: cms.graphics, type: "Type" %}
      </div>
      <div id="feed-wrapper">
        {%- render "components/feed-cards.liquid", feed: cms.graphics, type: "graphics" %}
      </div>
    </section>

    <section class="section">
      <div class="modal-wrapper">
        {%- render "components/modal-template.liquid" %}
      </div>
    </section>