---
layout: layouts/base.liquid
title: TRSI
tags: page
---
    <!-- Top section -->
    <section class="section">
      <div class="content">
        <div class="has-text-centered mb-5">
          <div class="logo" role="img" aria-label="TRSI logo"></div>
        </div>
      </div>
      <div class="content">
        <div class="has-text-centered is-size-4">
          <p class="">We are a demo group, founded in 1990. <a href="/about">(read more...) </a></p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="content">
        <h1><a href="/news/">Latest News</a></h1>
      </div>
      {%- render "components/feed-news.liquid", feed: cms.posts, max: 3 %}
    </section>

    <section class="section">
      <div class="content">
        <h1><a href="/productions/">Latest Productions</a></h1>
      </div>
      {%- render "components/feed-cards.liquid", feed: cms.productions, type: "productions", max: 3 %}
    </section>

    <section class="section">
      <div class="content">
        <h1><a href="/graphics/">Latest Graphics</a></h1>
      </div>
      {%- render "components/feed-cards.liquid", feed: cms.graphics, type: "graphics", max: 3 %}
    </section>

    <section class="section">
      <div class="modal-wrapper">
        {%- render "components/modal-template.liquid" %}
      </div>
    </section>