---
layout: layouts/base.liquid
title: TRSI
---
    <!-- Top section -->
    <section class="section is-size-5">
      <div class="content">
        <div class="has-text-centered mb-5">
          <figure class="image is-inline-block">
            <img src="/img/trsi-logo.svg" alt="TRSI logo" class="logo" />
          </figure>
        </div>
        <div class="has-text-centered">
          <p class="title"><a href="/about">We are a demo group!</a></p>
        </div>
      </div>
    </section>

    {%- if site.featureFlags.news %}
      <section class="section">
      <div class="content">
        <h1><a href="/news/">Latest News</a></h1>
      </div>
      {%- render "components/feed-news.liquid", feed: cms.posts, max: 3 %}
    </section>
    {% endif %}

    <section class="section">
      <div class="content">
        <h1><a href="/productions/">Latest Productions</a></h1>
      </div>
      {%- render "components/feed-cards.liquid", feed: cms.productions, type: "productions", max: 3 %}
    </section>

    {%- if site.featureFlags.graphics %}
    <section class="section">
      <div class="content">
        <h1><a href="/graphics/">Latest Graphics</a></h1>
      </div>
      {%- render "components/feed-cards.liquid", feed: cms.graphics, type: "graphics", max: 3 %}
    </section>
    {% endif %}

    {%- if site.featureFlags.music %}
      <section class="section">
      <div class="content">
        <h1><a href="/music/">Latest Music</a></h1>
      </div>
      {%- render "components/feed-cards.liquid", feed: cms.music, type: "music", max: 3 %}
    </section>
    {% endif %}

    <section class="section">
      <div class="modal-wrapper">
        {%- render "components/modal-template.liquid" %}
      </div>
    </section>