---
pagination:
  data: cms
  size: 100

layout: base.liquid
title: TRSI - Members
---
    <!-- Top section -->
    <section class="content is-size-5">
      <div class="container">
        <h1>Members</h1>
      </div>
    </section>

    <section class="section">
      {% render "feed.liquid", feed: cms.members, type: "members" %}
    </section>
