---
pagination:
  data: cms
  size: 100

layout: layouts/base.liquid
title: TRSI Members
---
    <section class="section">
      <div>
        <h1 class="title">Members</h1>
      </div>
      {%- render "components/feed-cards.liquid", feed: cms.members, type: "members", sort_key: "handle", sort_order: "asc" %}
    </section>
