---
pagination:
  data: cms
  size: 100

layout: layouts/base.liquid
title: TRSI Music
---
    <section class="section">
      <div class="content">
        <h1 class="is-size-2">Music</h1>
      </div>
      <div class="filter-wrapper">
        {%- render "components/feed-filter.liquid", feed: cms.music, type: "Platform" %}
        {%- render "components/feed-filter.liquid", feed: cms.music, type: "Type" %}
      </div>
      <div id="feed-wrapper">
        {%- render "components/feed-cards.liquid", feed: cms.music, type: "music" %}
      </div>
    </section>

    <section class="section">
      <div class="modal-wrapper">
        {%- render "components/modal-template.liquid" %}
      </div>
    </section>