---
pagination:
  data: cms
  size: 100

layout: layouts/base.liquid
title: TRSI - News
---
    <section class="section">
      <div class="content">
        <h1 class="is-size-2">Latest News</h1>
      </div>
      <div id="list-wrapper">
        {% render "components/feed-news.liquid", feed: cms.posts, type: "posts" %}
      </div>
    </section>
