---
pagination:
  data: cms
  size: 100

layout: base.liquid
title: TRSI - News
---
    <!-- Top section -->
    <section class="section headline">
      <div class="content">
        <h1 class="is-size-2">Latest News</h1>
      </div>
    </section>

    <section class="section">
      <div id="list-wrapper">
        {% render "list.liquid", feed: cms.posts, type: "posts" %}
      </div>
    </section>
