---
pagination:
  data: cms
  size: 100

layout: layouts/base.liquid
title: TRSI
---
    <!-- Top section -->
    <section class="section headline">
      <div class="content">
        <h1 class="is-size-2">Productions</h1>
      </div>
    </section>

    <section class="section">
      <div class="filter-wrapper">
      {% render "components/feed-filter.liquid", feed: cms.productions, type: "Platform" %}
      {% render "components/feed-filter.liquid", feed: cms.productions, type: "Type" %}
      </div>
      <div id="feed-wrapper">
        {% render "components/feed-cards.liquid", feed: cms.productions, type: "productions" %}
      </div>
    </section>

    <section class="section">
      <div class="modal-wrapper">
        {% render "components/modal-productions.liquid" %}
      </div>
    </section>
    